.poster{
    width: 25%;
    height: 250px;
    margin-right: 20px;
}

#posters{
    overflow-x: scroll;
    overflow-y: hidden;
}
#posters::-webkit-scrollbar{
    display: none;
}

@media(max-width : 600px)
        {
            .poster{
                width: 35%;
    height: 150px;

            }
             
                }
